*{
    font-family: 'Lato', sans-serif;
    font-weight:400;
}
body{
    background-color:#dfdeff;
    margin: 0;
    font-size: 1.1rem;
}

#wrapper{
    width:100%;
}

#navItems{
    color:white;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

#navItems a{
    padding: 1.75rem 1rem 1.5rem 1rem;
    text-decoration: none;
    color:white;
}

#navItems a:hover{
    background-color: #514ecc;
}

nav{
    display:flex;
    justify-content:space-around;
    gap:30%;
    background-color: #605bff;
    overflow: hidden;

}

nav form{
    display: flex;
    margin: 1.5rem 0 1.5rem 0;
}

nav form button{
    padding:.5rem 1rem .5rem 1rem;
    border-radius: 1rem;
    border-style:none;
    background-color: white;
    color:#605bff;
    margin-left:.5rem;
}

nav form input{
    border-radius: 1rem;
    padding:.5rem;
    border-style:none;
}

#searchPatients{
    margin-top: 1rem;
}

#hamburgerMenuBtn{
    display:none;
    margin: 1.5rem 0 1.5rem 5rem;
    padding: 0 .5em 0 .5em;
    border-radius:.5rem;
}

#hamburgerMenuBtn div {
    width: 2em;
    height: .4em;
    border-radius:1em;
    background-color: white;
    margin: 6px 0;
  }

#appointmentStats{
    display:flex;
    justify-content: center;
    flex-grow:4;
    gap: 2rem;
    margin: 2rem 10% 0 10%;
    color:#404040;
}

#patientListBox{
    background-color: white;
    margin: 2rem 20% 0 20%;
    border-radius:.5rem;
    padding: 1rem;
}

#patientListBox table{
    width:100%;
    border-radius: .5rem;
    border-spacing: 0;
    border: 1px solid #b6b6b6;
    text-align: center;
    overflow: hidden;
}

#patientBox{
    background-color:white;
    color:#404040;
    border-radius:.5rem;
    margin: 3rem 20% 0 20%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

#patientBox h1{
    color:#605bff;
}

.patientInformation{
    background-color: white;
    color:#404040;
    padding:1rem;
    margin:0;
    border-radius:0.5rem;
    width:90%;
    display:flex;
    flex-wrap: wrap;
}

#patientBox h1{
    width:90%;
    padding:1rem;
}

#patientBox h2{
    width:50%;
}


.patientRow:hover{
    background-color: #605bff;
    color:white;
}

#appointmentStats h3{
    color:#605bff;
}

.navigateStats{
    display:none;
}

.medication{
    width:43.5%;
    margin:0;
    padding:1rem;
}

#medicationList{
    background-color: white;
    color:#404040;
    padding: 0.1rem .5rem .5rem .5rem;
    border-radius:.5rem;
}

#medicationAppointments{
    display: flex;
    justify-content: center;
}

.appointments{
    padding:1rem;
    width:43.5%;
    margin:0;
}

.appointments table{
    background-color: white;
    color:#404040;
    margin:0 auto;
    padding:1rem;
    border-radius: .5rem;
    width: 100%;
}

#patientButtons{
    display:flex;
    justify-content: center;
    border-radius: 0 0 .5rem .5rem;
    gap:2rem;
    padding:3rem 1rem 3rem 1rem;
    width:100%;
}

#patientButtons button{
    padding:1rem;
    font-size:larger;
    border-radius:2rem;
    border-style:none;
}

#editPatientBtn{
    background-color:#ffcb08;
    color:white;
}

#appointmentPatientBtn{
    background-color: #605bff;
    color: white;
}

#deletePatientBtn{
    background-color: #fc3517;
    color:white;
}

#addPatientBox{
    padding:1rem;
}

#addPatientBox form{
    background-color:white;
    margin: 2rem 20% 0 20%;
    border-radius:.5rem;
    padding:2rem 2rem 3rem 2rem;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

#addPatientBox input[type = 'submit']{
    width:fit-content;
    padding:1rem 4rem 1rem 4rem;
    margin: 0 auto;
    background-color: #605bff;
    border-style:none;
    border-radius:1.5rem;
    color:white;
    font-size:larger;
}

#patientReg{
    background-color: white;
    border-radius:.5rem;
    padding: 2.5rem 0 2.5rem 0;
    display:flex;
    justify-content: space-evenly;
}

#patientReg input, select{
    border-radius:1rem;
    border-style:solid;
    border-color: #b6b6b6;
    padding:.5rem;
    width: 12.5rem;
    transform: scale(1.25);
}

#patientReg select{
    width:14rem;
}

#patientReg input[type = 'radio']{
    width:unset;
}

.patientRegSection {
    display:flex;
    flex-direction:column;
    gap:1rem;
}

#maleFemaleRadioBtns{
    display:flex;
    justify-content: space-evenly;
    padding:.5rem;
}

.maleFemaleRadio{
    display:flex;
    flex-direction:row;
}

.maleFemaleRadio Label{
    margin-top: -.2rem;
}

.stats{
    background-color: white;
    border-radius: .5rem;
    width:15rem;
    min-width: 10rem;
    flex-grow:1;
    padding:0 0 0 1rem;
}

#welcome{
    width:30rem;
    flex-grow:2;
    border-radius: .5rem;
    background-color: white;
    padding: 0 1rem 0 1rem;
    height: auto;
}

#upcomingAppointments{
    background-color: white;
    padding:0rem 1rem 2rem 1rem;
    margin: 2rem 1rem 5rem 0;
    border-radius: .5rem;
    flex-grow:3;
}

#dashboardBottomRow{
    color:#404040;
    display:flex;
    flex-grow:4;
    justify-content: center;
    margin: 0 10% 0 10%;
}

#upcomingAppointments ul{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

#upcomingAppointments table{
    width:100%;
    border-radius: .5rem;
    border-spacing: 0;
    border: 1px solid #b6b6b6;
    text-align:center;
    overflow: hidden;
}

#upcomingAppointments th,td{
    padding:1rem;
}

#upcomingAppointments tr:nth-child(even) {
    background-color: #fafafa;
}

.dataField{
    background-color: #605bff;
    color:white;
}

.dataField td:hover{
    background-color:#514ecc;
}

#reminderBox{
    flex-grow:1;
    margin-left:1rem;
    display: flex;
    flex-direction:column;
    max-height:20rem;
    height:auto;
    border-radius: .5rem;
}

#reminderBox form{
    border-top: 1px solid #404040;
    margin: 0 0 .5rem -.25rem;
    padding:.5rem 0 .5rem 0;
}

#reminderBox form input{
    border: 1px solid #404040;
    border-radius:.5rem;
    padding:.5rem;
    width:70%;
    margin-right:.5rem;
}

#reminderBox form button{
    background-color: #605bff;
    color:white;
    width:15%;
    border-style:none;
    padding:.5rem;
    border-radius:.5rem;
}

.reminder{
    direction:rtl;
    text-align:left;
}

.reminder input[type='checkbox']{
    transform: scale(1.5);
    accent-color: #605bff;
    margin:0 .5rem 1rem 0;
}


aside{
    background-color: white;
    padding:1rem;
    margin: 2rem 0 0 0;
}

aside ul{
    list-style-type: none;
    padding: 0;
}

@media only screen and (max-width: 1000px) {
    body{
        font-size: initial;
    }
    nav{
        text-align:center;
        gap:0;
    }

    nav ul{
        justify-content: center;
    }

    #navItems{
        display:none;
    }

    #hamburgerMenuBtn{
        display:block;
    }

    .navigateStats{
        display: inline-block;
        background-color: #605bff;
        color:white;
        border-style:none;
        padding:.5rem 3rem .5rem 3rem;
        border-radius:0 0 .5rem .5rem;
        width:5%;
    }

    .stats{
        border-radius: .5rem .5rem 0 0;
        width:100%;
        margin-top:.25rem;
        display:none;
        height: 17.5rem;
        flex-grow:unset;
    }

    #welcome{
        width:100%;
        margin-top:.25rem;
        display:none;
        flex-grow:unset;
        height:17.5rem;
    }

    #dashboardBottomRow{
        flex-direction: column-reverse;
        margin:0;
    }

    #upcomingAppointments{
        margin: 1rem 0 0 0;
        padding:0;
    }

    #appointmentStats{
        flex-wrap: wrap;
        justify-content:space-between;
        gap:0;
        width:100%;
        margin:1rem 0 0 0;
        flex-grow:unset;
    }

    #reminderBox{
        margin:1rem 0 0 0;
    }

    #patientListBox{
        margin: 1rem 0 0 0;
    }

    .patientRow td{
        padding: .25rem;
        font-size: 90%;
    }

    #patientBox {
        width: 100%;
        margin: 3rem 0 0 0;
    }

    #addPatientBox form{
        width:100%;
        gap:1rem;
        margin: 1rem 0 0 0;
        padding:1rem 0 1rem 0;
    }

    #patientReg{
        width:100%;
        gap: 1rem;
        margin:1rem 0 0 0;
        padding:1rem 0 1rem 0;
        border-radius: unset;
    }

    #patientReg input, select{
        transform: unset;
        width:unset;
    }

    #patientButtons button{
        font-size:unset;
    }

    .medication{
        width:100%;
        padding: 0;
    }

    #medicationList{
        border-radius:unset;
    }

    .appointments{
        width:100%;
        padding: 0;
    }

    .appointments table{
        margin: 0;
        width:100%;
        border-radius: unset;
    }
  }