*{
    font-family: 'Lato', sans-serif;
    font-weight:400;
}
body{
    background-color:#dfdeff;
    margin: 0;
    font-size: 1.1rem;
}

#wrapper{
    width:100%;
}

#navItems{
    color:white;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

#navItems a{
    padding: 1.75rem 1rem 1.5rem 1rem;
    text-decoration: none;
    color:white;
}

#navItems a:hover{
    background-color: #514ecc;
}

nav{
    display:flex;
    justify-content:space-around;
    gap:45%;
    background-color: #605bff;
    overflow: hidden;
    color:white;
}

#searchPatients{
    margin-top: 1rem;
}

#hamburgerMenuBtn{
    display:none;
    margin: 1.5rem 0 1.5rem 5rem;
    padding: 0 .5em 0 .5em;
    border-radius:.5rem;
}

#hamburgerMenuBtn div {
    width: 2em;
    height: .35em;
    border-radius:1em;
    background-color: white;
    margin: 6px 0;
}

#hamburgerMenu{
    background-color: #514ecc;
    display:none;
    flex-direction:column;
    padding:.5rem;
}

#hamburgerMenu a{
    color:white;
    text-decoration:none;
    font-size:x-large;
    padding:1rem;
}

#appointmentStats{
    display:flex;
    justify-content: center;
    flex-grow:5;
    gap: 2rem;
    margin: 2rem 10% 0 10%;
}

#patientsPage{
    margin: 2rem 10% 0 10%;
    display:flex;
    gap:2rem;
}

#regPatientBox{
    background-color: white;
    margin-top:1rem;
    border-radius:.5rem;
    padding: 1rem;
    width:20rem;
    display:flex;
    flex-direction: column;
    height: fit-content;
    flex-grow: 1;
}

#patientListBox{
    background-color: white;
    margin-top:1rem;
    border-radius:.5rem;
    padding: 1rem;
    flex-grow:2;
}

#regForm{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    margin-top:2rem;
    gap:.5rem;
    justify-content: center;
}

.inputBox{
    display:flex;
    flex-direction: column;
    width: 85%;
    align-self: center;
    gap:1rem;
    padding:.5rem 0 .5rem 0;
}

.inputBox input{
    border-radius:.5rem;
    border: 1px solid #b6b6b6;
    padding:.25rem;
}

.inputBox input[type = 'submit']{
    width:50%;
    margin: 0 auto;
}

.inputBox label{
    color:#605bff;
}

.inputBox select{
    border-radius:.5rem;
    padding:.25rem;
    border: 1px solid #b6b6b6;
}

#submitBtn{
    margin-top:1rem;
    color:white;
    background-color: #605bff;
    padding:.5rem;
    border-style:none;
}

#submitBtn:hover{
    background-color: #514ecc;
}

#maleFemaleRadio{
    display:flex;
    flex-direction: row;
    gap:2rem;
}

.patientCard{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    border-top: 1px solid #b6b6b6;
}

.patientCard svg{
    width:11rem;
}

.patientCard:hover{
    border-top: 1px solid #cccaff;
}

.cardEditPatientBtn{
    background-color: #ffcb08;
}

.cardEditPatientBtn:hover{
    background-color: #d6a900;
}

.cardInformationSection{
    display:flex;
    align-items: flex-start;
    width:40rem;
    gap:1rem;
}

.cardInformationDetails{
    display: flex;
    flex-direction:column;
    margin:.5rem 0 .5rem 0;
}

.dataField{
    display:flex;
    flex-direction: column;
    align-items: baseline;
    width:20rem;
}

.dataLabel{
    color:#605bff;
}

.latestAppt{
    display: flex;
}

.blueTitle{
    color:#605bff;
}

#appointmentStats h3{
    color:#605bff;
}

.navigateStats{
    display:none;
}

#setAppointmentForm{
    display:flex;
    align-items: baseline;
    gap:1rem;
    justify-content: center;
    padding:1rem;
    border-radius:1rem;
}

#setAppointmentForm input{
    border-radius:.5rem;
    padding:.5rem;
    border: 1px solid #b6b6b6;
}

#setAppointmentForm input[type = 'submit']{
    background-color: #605bff;
    color: white                      ;
    border-style:none;
    margin-left:2rem;
    padding:1rem;
}

#setAppointmentForm input[type = 'submit']:hover{
    background-color: #514ecc;
}

#patientButtons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 1rem 0;
    gap:2rem;
}

#patientButtons button{
    padding:1rem;
    border-radius:.5rem;
    border-style:none;
    width:fit-content;
    color:white;
}

#savePatientBtn{
    background-color: #605bff;
}

#savePatientBtn:hover{
    background-color: #514ecc;
}

#discardPatientBtn{
    background-color:#ff595f
}

#discardPatientBtn:hover{
    background-color: #d64b50;
}

#editPatientBtn{
    background-color:#ffd84a;
}

#editPatientBtn:hover{
    background-color:#d6a900;
}

#deletePatientBtn{
    background-color: #ff595f;
}

#deletePatientBtn:hover{
    background-color: #d64b50;
}

.stats{
    background-color: white;
    border-radius: .5rem;
    width:15rem;
    min-width: 10rem;
    flex-grow:1;
    padding:0 0 0 1rem;
}

#welcome{
    width:30rem;
    flex-grow:2;
    border-radius: .5rem;
    background-color: white;
    padding: 0 1rem 0 1rem;
    height: auto;
}

#upcomingAppointments{
    background-color: white;
    padding:0rem 1rem 2rem 1rem;
    margin: 2rem 1rem 5rem 0;
    border-radius: .5rem;
    flex-grow:3;
}

#dashboardBottomRow{
    display:flex;
    flex-grow:4;
    justify-content: center;
    margin: 0 10% 0 10%;
}

#upcomingAppointments ul{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

#upcomingAppointments table{
    width:100%;
    border-radius: .5rem;
    border-spacing: 0;
    border: 1px solid #b6b6b6;
    text-align:center;
    overflow: hidden;
}

#upcomingAppointments th,td{
    padding:1rem;
}

#upcomingAppointments tr:nth-child(even) {
    background-color: #eeeeee;
}

.tableLabel{
    background-color: #605bff;
    color:white;
}

#reminderBox{
    flex-grow:1;
    margin-left:1rem;
    display: flex;
    flex-direction:column;
    height:fit-content;
    width:20rem;
    border-radius: .5rem;
    gap:1rem;
}

#reminderBox h3{
    border-bottom: 1px solid #b6b6b6;
    padding-bottom:1rem;
    margin: 1rem 0 0 0;
}

#reminderIn{
    border: 1px solid #404040;
    border-radius:.5rem;
    padding:.5rem;
    margin-right:.5rem;
    width:70%;
}


#addReminderBtn{
    background-color: #605bff;
    color:white;
    width:15%;
    border-style:none;
    padding:.5rem;
    border-radius:.5rem;
}

#addReminderBtn:hover{
    background-color: #514ecc;
}

.reminder{
    display:flex;
    text-align:left;
}

.reminder input[type='checkbox']{
    transform: scale(1.5);
    margin-right:1rem;
    accent-color: #605bff;
    align-self: baseline;
}


aside{
    background-color: white;
    padding:1rem;
    margin: 2rem 0 0 0;
}

aside ul{
    list-style-type: none;
    padding: 0;
}

#patientBox{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin:2rem 10% 1rem 10%;
    gap:2rem;
    border-radius:1rem
}

#patientInformation{
    padding:1rem;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
}

#info{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

#infoValues{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    width:10rem;
}

#infoBlock{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    width:20rem;
    justify-content: center;
    margin: 0 auto;
}

#infoBlock .dataField{
    width:15rem;
    justify-content: baseline;
}

#infoBlock .dataLabel{
    width:10rem;
}

#infoBlock input{
    width:15rem;
    margin: 1rem 0 1rem 0;
    align-self:flex-start;
}

#patientUpperSection{
    background-color: white;
    border-radius:0.5rem;
    display:flex;
    flex-direction:column;
    flex-grow:1;
    padding: 2rem 0 0 0;
}

#patientUpperSection input{
    border-radius:.5rem;
    border: 1px solid #b6b6b6;
    padding:.25rem;
}

#patientUpperSection select{
    border-radius:.5rem;
    padding:.25rem;
    border: 1px solid #b6b6b6;
}

.listItem{
    display:flex;
    align-items: baseline;
    border: 1px solid #605bff;
    border-radius: 2rem;
    gap:.5rem;
    overflow:hidden;
    padding: 0 1rem 0 0;
}

.listItem a{
    color:white;
    background-color: #605bff;
    padding:1.1rem;
    text-decoration: none;
}

#appointments{
    display:flex;
    flex-direction: column;
    background-color: white;
    border-radius:0.5rem;
    flex-grow:3;
    height:fit-content;
}

#appointments h2{
    padding:1rem;
}

.appointment{
    display:flex;
    justify-content: space-around;
    padding: 1rem 0 1rem 0;
}

.appointment:nth-child(odd){
    background-color:#eeeeee;
}

.appointment button{
    color:white;
    border-radius:.5rem;
    border-style:none;
    padding: .5rem 1.5rem .5rem 1.5rem;
}

.appointmentBtns{
    display:flex;
    gap:1rem;
}

.appointmentCancelBtn{
    background-color: #ffcb08;
}

.appointmentCancelBtn:hover{
    background-color: #d6a900;
}

.appointmentConfirmBtn{
    background-color: #605bff;
}

.appointmentConfirmBtn:hover{
    background-color: #514ecc;
}

.appointmentDeleteBtn{
    background-color: #ff595f;
}

.appointmentDeleteBtn:hover{
    background-color: #d64b50;
}

#patientName{
    border-radius:.5rem;
    align-self: center;
    width:15rem;
    text-align: center;
}

.itemList{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap:1rem;
}

@media only screen and (max-width: 1000px) {
    nav{
        text-align:center;
        gap:0;
    }

    nav h1{
        align-self: center;
    }

    nav ul{
        justify-content: center;
    }

    #navItems{
        display:none;
    }

    #hamburgerMenuBtn{
        display:block;
    }

    .navigateStats{
        display: inline-block;
        background-color: #605bff;
        color:white;
        border-style:none;
        padding:.5rem 3rem .5rem 3rem;
        border-radius:0 0 .5rem .5rem;
        width:5%;
    }

    .stats{
        border-radius: .5rem .5rem 0 0;
        width:100%;
        margin-top:.25rem;
        display:none;
        height: 17.5rem;
        flex-grow:unset;
    }

    #welcome{
        width:100%;
        margin-top:.25rem;
        display:none;
        flex-grow:unset;
        height:17.5rem;
    }

    #dashboardBottomRow{
        flex-direction: column-reverse;
        margin:0;
    }

    #upcomingAppointments{
        margin: 1rem 0 0 0;
        padding:0;
    }

    #upcomingAppointments th,td{
        padding:.5rem;
    }

    #appointmentStats{
        flex-wrap: wrap;
        justify-content:space-between;
        gap:0;
        width:100%;
        margin:1rem 0 0 0;
        flex-grow:unset;
    }

    #reminderBox{
        margin:1rem 0 0 0;
        width:100%;
        padding:0;
        justify-content: space-around;
        padding:0 0 1rem 0;
    }

    #reminderIn{
        width:75%;
    }

    #patientListBox{
        margin: 1rem 0 0 0;
    }

    .patientCard{
        display:flex;
        width:100%;
        flex-direction:column;
        justify-content: space-evenly;
        border-top: 1px solid #b6b6b6;
        margin: 0 auto;
    }

    #regForm{
        flex-direction:column;
        width:100%;
    }

    .inputBox{
        flex-direction: column;
        width:90%;
    }

    .inputBox input{
        margin-top:1rem;
        margin-bottom:1rem;
    }

    .patientListBox{
        width:100%;
        margin:1rem 0 0 0;
    }
    .cardInformationSection{
        align-self:center;
        width:100%;
    }

    .cardInformationDetails{
        width:100%;
        align-items: center;
    }

    .dataField{
        width:50%;
    }

    .cardPatientIcon{
        align-self: center;
        margin:2rem;
    }

    #patientsPage{
        flex-direction: column-reverse;
        margin:1rem 0 1rem 0;
    }

    .patientCard svg{
        align-self: center;
        padding:1rem;
    }

    #regPatientBox{
        width:100%;
        margin: 1rem 0 0 0;
        padding: 1rem 0 1rem 0;
    }

    #regPatientBox h3{
        padding-left:1rem;
    }

    #appointments{
        display:flex;
        flex-direction: column;
        background-color: white;
        border-radius:0.5rem;
        flex-grow:unset;
        width:100%;
        height:fit-content;
    }

    .appointment{
        display:flex;
        justify-content: space-around;
        flex-wrap:wrap;
        width:100%;
    }

    .appointment button{
        padding: 1rem;
        align-self: center;
    }

    #patientBox{
        width:100%;
        margin: 1rem 0 0 0;
    }

    #setAppointmentForm{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #setAppointmentForm input[type = 'submit']{
        margin-left:unset;
    }

    .appointmentBtns{
        width:100%;
        justify-content: center;
    }

    #infoBlock{
        width:100%;
    }
  }